.carousel.spacer-lg
  .container
    .row
      .col-md-12
        .text-center
          h1.header-default CONTATOS
.row.spacer-lg
  .col-md-12
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.263500150702!2d-47.8894606855064!3d-15.79005402705401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3afb57b6a8ef%3A0xce73257fc344b046!2sExecutive+Office+Tower+-+Bras%C3%ADlia%2C+DF!5e0!3m2!1spt-BR!2sbr!4v1458358420943', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen='')
.container.spacer-lg
  .row
    .col-md-12
      h2 Envie uma mensagem! 
      form
        .row
          .col-md-6
            .form-group
              label(for='exampleInputEmail1') Endereço de E-mail
              input#exampleInputEmail1.form-control(type='email', placeholder='Email')
            .form-group
              label(for='nome') Nome
              input#nome.form-control(type='text', placeholder='Nome')
            .form-group
              label(for='mensagem') Mensagem
              textarea.form-control#mensagem(placeholder="Mensagem", rows="5")
            button.btn.btn-default(type='submit') Enviar
          .col-md-6  
            .form-group
              label Mais contatos
              p 
                strong Endereço: 
                | SHN Qd. 02 Bl "F" Sala 1104 - 11º Andar Edifício Executive Tower
              p
                strong CEP: 
                | 70702-904 
              p: spam.glyphicon.glyphicon-phone-alt  
                strong Fone: 
                | 61 3797-0878
              p: spam.glyphicon.glyphicon-envelope  
                strong E-mail: 
                | contatos@lgm.com.br
