block .carousel.spacer-lg
.carousel.spacer-lg.hide
  .row
    .col-md-12
      .text-center
        h1.header-default ESPECIALIDADES
block .container.spacer-lg
.container.spacer-lg
  .row
    .col-md-12
      .especialidades
        .row
          .col-md-12
            block h2
              h2 ESPECIALIDADES
                a.link-especialidades(href="especialidades.html")
                  small Ver todos »
          .col-md-3.spacer-md
            a(href="#" title="Direito Ambiental")
              img.img-responsive(src="img/icon-lgm-ambiental.png" alt="Direito Ambiental")
            p O Direito Ambiental é a área do conhecimento jurídico que estuda as interações do homem com a natureza e os mecanismos legais para proteção do meio ambiente
          .col-md-3.spacer-md
            a(href="#" title="Direito Empresarial")
              img.img-responsive(src="img/icon-lgm-comsumidor.png" alt="Direito Empresarial")
            p Direito empresarial é um ramo do direito privado que pode ser entendido como o conjunto de normas disciplinadoras da atividade negocial do empresário
          .col-md-3.spacer-md
            a(href="#" title="Direito Comsumidor")
              img.img-responsive(src="img/icon-lgm-empresarial.png" alt="Direito Comsumidor")
            p O Direito do Consumidor é um ramo do direito que lida com as coisas de consumo e com a atuação dos direitos dos interessados.
          .col-md-3.spacer-md
            a(href="#" title="Direito do Trabalho")
              img.img-responsive(src="img/icon-lgm-trabalhista.png" alt="Direito do Trabalho")
            p Direito do trabalho é o conjunto de normas jurídicas que regem as relações entre empregados e empregadores, são os direitos resultantes da condição jurídica dos trabalhadores. 