extends especialidades
block .carousel.spacer-lg
  .carousel.spacer-lg
    .row
      .col-md-12
        .text-center
          h1.header-default ESPECIALIDADES
block h2
  h2.text-left Saiba de todas nossas especialidades.