.footer
  .container
    .row
      .col-md-4
        p.footer-title TENHA UM ADVOGADO
        p A advocacia é considerada como uma das atividades essenciais para a administração da justiça. Daí a importância do advogado na sociedade, uma vez que ele detém a capacidade de postular os interesses das pessoas em juízo ou fora dele e também de prestar assessoria e consultoria. Surge nesse meio o papel do advogado como negociador, aquele capaz de solucionar conflitos de uma forma mais célere, antes mesmo de se formar um litígio.
      .col-md-4.text-center
        img(src="img/logo-footer.png" alt="Logo roda pé")
      .col-md-4
        p.footer-title ENTRE EM CONTATO
        p 
          | SHN Qd. 02 Bl "F" Sala 1104 - 11º Andar 
          br 
          | Edifício Executive Tower
          br 
          | CEP: 70702-904 
          br 
          | Fone: 61 3797-0878

  .footer-secundary
    .container
      .row
        .col-md-6.col-xs-6.text-left
          p Todos os direitos reservados a 
            a(href="http://www.lgm.com.br") http://www.lgm.com.br  
            | copyright © 2016
        .col-md-6.col-xs-6.text-right
          p Designed by 
            a(href="#") carlosvz
