.container.spacer-lg
  .row
    .col-md-12
      .profissionais
        .row
          .col-md-12.text-center.spacer-lg
            h3 NOSSOS PROFISSIONAIS
          .col-md-4
            .media.box
              .media-left
                a.hover-lgm(href='#')
                  img.media-object(src="img/foto.png" alt="Advogado")
              .media-body
                ul
                  li: strong Advogado
                  li Paulo Guilherme Marçal Rodrigues
                  li OAB/DF 30.900
                  li: a(href="mailto:marçal@lgmadvogados.com.br") marçal@lgmadvogados.com.br
                  li (61) 9684 - 3727
          .col-md-4
            .media.box
              .media-left
                a.hover-lgm(href='#')
                  img.media-object(src="img/foto1.png" alt="Advogado")
              .media-body
                ul
                  li: strong Advogado
                  li Paulo Guilherme Marçal Rodrigues
                  li OAB/DF 30.900
                  li: a(href="mailto:marçal@lgmadvogados.com.br") marçal@lgmadvogados.com.br
                  li (61) 9684 - 3727
          .col-md-4
            .media.box
              .media-left
                a.hover-lgm(href='#')
                  img.media-object(src="img/foto2.png" alt="Advogado")
              .media-body
                ul
                  li: strong Advogado
                  li Paulo Guilherme Marçal Rodrigues
                  li OAB/DF 30.900
                  li: a(href="mailto:marçal@lgmadvogados.com.br") marçal@lgmadvogados.com.br
                  li (61) 9684 - 3727