.topo.spacer-md
  .head-admin
    .white-target.visible-md.visible-lg
    .container
      .row
        .col-md-12.menu-admin
          .row
            .col-md-8.col-sm-8.text-right
              span.glyphicon.glyphicon-earphone  55 61 82301562 &nbsp;
              span.glyphicon.glyphicon-time  08:00 às 18:00
            .col-md-4.col-sm-4.text-right
              ul.list-unstyled
                li
                  a(href="#")
                    .glyphicon.glyphicon-globe  LOGIN  &nbsp;
                li
                  a(href="#")
                    .glyphicon.glyphicon-envelope  WEBMAIL


  .head-menu.hide
    .container
      .col-md-4
        a(href="#" title="Página Inicial")
          img.img-responsive(src="img/logo-lgm.svg" alt="Logo LGM")
      .col-md-8
        nav
          ul
            li
              a(href="#") INÍCIO
            li
              a(href="#") O ESCRITÓRIO
            li
              a(href="#") SOBRE
            li
              a(href="#") ARTIGOS
            li
              a(href="#") CONTATOS


  nav.navbar
    .container
      .row
        .navbar-header
          button.navbar-toggle.collapsed.navbar-toggle--lgm(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.head-menu--navbar-brand(href='#' title="Home") 
            img.img-responsive(src="img/logo-lgm.svg" alt="Logo LGM")
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.head-menu
            li
              a.hvr-underline-reveal(href="#") INÍCIO
            li
              a.hvr-underline-reveal(href="#") O ESCRITÓRIO
            li
              a.hvr-underline-reveal(href="#") SOBRE
            li
              a.hvr-underline-reveal(href="#") ARTIGOS
            li
              a.hvr-underline-reveal(href="#") CONTATOS
