.topo.spacer-md
  .head-admin
    .white-target.visible-md.visible-lg
    .container
      .row
        .col-md-12.menu-admin
          .row
            .col-md-8.col-sm-8.text-right
              span.glyphicon.glyphicon-earphone  
              |  +55 61 3797-0878 &nbsp;
              span.glyphicon.glyphicon-time  
              |  08:00 às 18:00
            .col-md-4.col-sm-4.text-right
              ul.list-unstyled
                li
                  a(href="#")
                    span.glyphicon.glyphicon-globe  
                    |  LOGIN  &nbsp;
                li
                  a(href="#")
                    span.glyphicon.glyphicon-envelope  
                    |  WEBMAIL


  nav.navbar
    .container
      .row
        .navbar-header
          button.navbar-toggle.collapsed.navbar-toggle--lgm(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.head-menu--navbar-brand(href='#' title="Home") 
            img.img-responsive(src="img/logo-lgm.svg" alt="Logo LGM")
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.head-menu
            li
              a.hvr-underline-reveal(href="projeto.html") INÍCIO
            li
              a.hvr-underline-reveal(href="o-escritorio.html") O ESCRITÓRIO
            li
              a.hvr-underline-reveal(href="especialidades.html") ESPECIALIDADES
            li
              a.hvr-underline-reveal(href="#") ARTIGOS
            li
              a.hvr-underline-reveal(href="contatos.html") CONTATOS
